header {
  border:solid;
  border-radius:20px;
  text-align: center;
  font-size: 40px;
  background-color: #F51C00;
  margin-bottom: 20px;
}

body {
  position:absolute;
  top: 5%;
  overflow: auto;
  background-color: #8E8584;
}

article {
  border:solid;
  display: inline-block;
  width: 25%;
  height: 300px;
  margin-left: 5%;
  margin-bottom: 1%;
  vertical-align: top;
}

#nom {
  text-align: center;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#FEU {
  background-color:#ff3300;
}

#VOL {
  background-color:#66ffff;
}

#ELECTRIK {
  background-color:#ffff00;
  padding-left: 30px;
  padding-right: 30px;
}

#ROCHE {
  background-color:#993300;
  padding-left: 40px;
  padding-right: 40px;
}

#TENEBRE {
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
}

#PSY {
  background-color:#ff0080;
}

#FEE {
  background-color:#ff99cc;
}

#COMBAT {
  background-color: #cc2900;
  padding-left: 35px;
  padding-right: 35px;
}

#ACIER {
  background-color:#8a8a5c;
  padding-left: 42px;
  padding-right: 42px;
}

#EAU {
  background-color:#6666ff;
}

img {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

nav {
  position: fixed;
  top: 0px;
  background-color: #F51C00;
  text-align: center;
  width: 100%;
  font-size: 20px;
}
nav a {
  font-weight: normal;
}

.menuItem {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 50px;
  margin-bottom: 0px;
}

.menuElement {
  display: inherit;
  font-weight: normal;
}

#pokemons {
  width: 10%;
}

#pokemons ul {
  position: absolute;
  z-index: 1000;
  max-height:0;
  left: 0;
  right: 0;
  overflow:hidden;
  -moz-transition: .8s all .3s;
  -webkit-transition: .8s all .3s;
  transition: .8s all .3s;
  background-color: #F51C00;
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}

#pokemons:hover ul {
  max-height:15em;
}

.menuItem:hover {
  background: #ff4d4d;
  font-weight: bold;
}

nav a:hover {
  font-weight: bold;
}

.menuElement:hover {
  background: #ff4d4d;
  font-weight: bold;
}

@media print {
  nav {
    display: none;
  }

  #accueil {
    display: none;
  }

  a {
    font-weight: normal;
  }

  td {
    border-top: solid;
    border-spacing: 0px;
  }

  #titre h1 {
    border-bottom: solid;
  }


}

@media screen and (min-width: 0px) and (max-width: 980px) {
    td:nth-child(4), td:nth-child(5), th:nth-child(4), th:nth-child(5) {
      display:none;
    }
  }
