.pokemon {
  width:75%;
  margin-right: auto;
  margin-left: auto;
  border: solid;
  background-color: white;
  border-radius: 20px;
  display: none;
  margin-bottom: 5%;
}
.pokemon
 h1 {
  text-align: center;
  background-color: #F51C00;
  margin-top:0px;
  border-radius: 20px 20px 0px 0px;
  border-bottom:solid;
  margin-bottom: 0px;
}

.pokemon article {
  border: none;
  border-radius: 0px
}

.pokemon h2{
  text-align: center;
  background-color: #F51C00;
  margin-top:0px;
  border-top: solid
}


.descriptionImage {
  display: inline-block;
  width: 25%;
  height: 25%;
  margin-bottom: 0px;
}


.descriptionImage img {
  width: 95%;
  height:80%;
}

.pokemon .descriptions {
  display: inline-block;
  width:64.7%;
  height: auto;
  border-left: solid;
  margin-bottom: 0px;
  margin-top:0px;
}

.descriptions h2 {
  border-top: none;
}
.pokemon li {
  display: inline-block;
}
.pokemon span {
  display: inline-block;
  font-size: 12px;
  font-weight:bold;
  color: white;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:5px;
  padding-bottom:5px;
  margin-left: 30px;
  margin-bottom: 5px;
}
.descriptionTypes {
  display:block;
  width:auto;
  margin-left: 0px;
  height: auto;
}

.faiblesses {
  display:block;
  width:auto;
  margin-left: 0px;
  height: auto;
}

#FEU {
  background-color:#ff3300;
}

#VOL {
  background-color:#66ffff;
}

#ELECTRIK {
  background-color:#ffd800;
  padding-left: 29px;
  padding-right: 29px;
}

#ROCHE {
  background-color:#993300;
  padding-left: 37px;
  padding-right: 37px;
}

#TENEBRE {
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
}

#PSY {
  background-color:#ff0080;
}

#FEE {
  background-color:#ff99cc;
}

#COMBAT {
  background-color: #cc2900;
  padding-left: 32px;
  padding-right: 32px;
}

#ACIER {
  background-color: #737373;
  padding-left: 42px;
  padding-right: 42px;
}

#EAU {
  background-color:#6666ff;
}

#SOL {
  background-color: #ff9900;
}

#INSECTE {
  background-color: #99cc00;
  padding-left: 33px;
  padding-right: 29px;
}

#PLANTE {
  background-color:#00e600;
  padding-left: 35px;
  padding-right: 37px;
}

#POISON {
  background-color: #660066;
  padding-left: 35px;
  padding-right: 37px;
}

#SPECTRE {
  background-color: #6600cc;
  padding-left: 33px;
  padding-right: 29px;
}

#NORMAL {
  background-color:#8a8a5c;
  padding-left: 35px;
  padding-right: 37px;
}

.faiblesses #valeur {
  width: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: red;
  position: relative;
  right:50px;
}

.evolution {
  display: block;
  width:auto;
  height: auto;
  margin-left: 0px;
}

.evolution li {
  display: block;
}

.evolution li img {
  display: inline-block;
}
